@font-face {
  font-family: "iconfont"; /* Project id 2904436 */
  src: url('//at.alicdn.com/t/font_2904436_4bdd56iyt0w.woff2?t=1635651588093') format('woff2'),
       url('//at.alicdn.com/t/font_2904436_4bdd56iyt0w.woff?t=1635651588093') format('woff'),
       url('//at.alicdn.com/t/font_2904436_4bdd56iyt0w.ttf?t=1635651588093') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-weixin:before {
  content: "\e609";
}

