@font-face {
  font-family: "iconfont"; /* Project id 2969174 */
  src: url('//at.alicdn.com/t/font_2969174_crjkstoumoi.woff2?t=1637936687939') format('woff2'),
       url('//at.alicdn.com/t/font_2969174_crjkstoumoi.woff?t=1637936687939') format('woff'),
       url('//at.alicdn.com/t/font_2969174_crjkstoumoi.ttf?t=1637936687939') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e600";
  font-size: 24px;
  color: #CE000d;
}

.icon-weixin:before {
  content: "\e637";
  font-size: 24px;
  color: #09BB07;
}

.icon-bilibili-copy:before {
  content: "\e601";
  font-size: 24px;
  color: #1296DB;
}

